.hot-menu i { margin-right: 5px; color: #adb5d9; }
.hot-icomenu { width: 20px; }
.card-header i { margin-right: 5px; color: #909090; }
.btn-group li i { margin-right: 5px; color: #909090; }

a { text-decoration: none; }

.f-7 { font-size: 0.7rem; }
.f-8 { font-size: 0.8rem; }
.f-9 { font-size: 0.9rem; }
.f-80p { font-size: 80px; }

.lh-7 { line-height: 0.7rem; }
.lh-8 { line-height: 0.8rem; }
.lh-9 { line-height: 0.9rem; }
.lh-10 { line-height: 1rem; }

.hot-button { background-color: #f0f0f0; border-color: #e0e0e0; color: #606060!important; }
.hot-button.hot-vermelho:hover { background-color: red; border-color: red; color: #fafafa!important; }
.hot-button.hot-verde:hover { background-color: yellowgreen; border-color: yellowgreen; color: #fafafa!important; }
.hot-button.hot-laranja:hover { background-color: #ffc107; border-color: #ffc107; color: #fafafa!important; }
.hot-button:hover i { color: #fafafa!important; }

.hot-buttonF { color: #606060; }
.hot-buttonF.hot-vermelho:hover { color: red; cursor: pointer; }

.hot-datatable .hot-action { opacity: 0.4; }
.hot-datatable tr:hover .hot-action { opacity: 1; }

.hot-menusuperior { z-index: 900; }

#hot-header-sticky { position: sticky; top: 0px; background-color: #fafafa; z-index: 900; }

.hot-corBranca { color: #fafafa; }

ul.hot-perfis li:hover { background-color: #f0f0f0; cursor: pointer; }

/* OVERLAYS */

.page-item.active .page-link { z-index: 3; color: #fff; background-color: #808080; border-color: #808080; }

.accordion-button { color: #404040; background-color: #f0f0f0; box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); }
.accordion-button:not(.collapsed) { color: #fafafa; background-color: #909090; box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%); }

div.datepicker table.table-condensed td { padding: 2px 10px; }

.page-link { color: #b0b0b0; }
.page-link:hover { color: #909090; }
.page-link:focus { box-shadow: 0 0 0 0.25rem rgb(180 180 180 / 25%); }

[type='radio'] { color: orange; }

header { position: relative; }

#hot-toasts { position: absolute; right: 30px; top: 30px; width: 25vw; z-index: 900; }
#hot-toasts .hot-talert { background-color: #c0c0c0; padding: 1px 6px; }
#hot-toasts .hot-talert-vermelho { background-color: red; }
#hot-toasts .hot-talert-verde { background-color: yellowgreen; }
#hot-toasts .hot-talert * { color: #fafafa; }

html { overflow-x: hidden; }
body { background: #f0f0f0; }

header#hot-header { background: #007e91;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    padding: 0 25px;
    height: 48px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 900; }
	
header#hot-header .exibemenu { color: #fafafa; margin-top: 10px; font-size: 18px; }
		
aside#hot-sidebar {
    width: 240px;
    /* border-right: 1px solid rgba(0,0,0,.12); */
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate3d(-240px,0,0);
    z-index: 900;
    background: #fafafa;
    transition: all 280ms cubic-bezier(.4,0,.2,1);
	overflow-y: auto; }

aside#hot-sidebar .list-group-item { background: none; font-weight: 500; color: #0a0a0a; }
aside#hot-sidebar .list-group-item:hover { color: #007e91; }
aside#hot-sidebar .list-group-item.active { background: #f0f0f0; border-color: #f0f0f0; color: #404040; }

footer#hot-footer { background: black;
	position: fixed; 
	height: 48px; 
	bottom: 0px; 
	z-index: 900; 
	left: 0; 
	box-shadow: 0 -3px 6px rgb(0 0 0 / 16%), 0 -3px 6px rgb(0 0 0 / 23%);
	width: 100%; }

footer#hot-footer .footer-container { width: 100%; display: table; height: 100%; }	
footer#hot-footer .empresa { display: table-cell; color: #ed7200; width: 50%;padding-left: 20px;vertical-align: middle;font-weight: 600;}
footer#hot-footer .hotsystems { display: table-cell; color: #fafafa; text-align: right; width: 50px;padding-right: 20px;vertical-align: middle;font-size: 0.7rem;}
	
aside#hot-sidebar img { width: auto; max-width: 100%; }

div#hot-content { min-height: 100%; width: 100%; margin-top: 48px;}
div#hot-content-final { height: 100px; width: 100%; }
	
.sidebar-open aside#hot-sidebar { transform: translate3d(0,0,0); }

header#hot-header, div#hot-content, footer#hot-footer { margin-left: 0px; padding-right: 0px; }

button.hot-submenu ul.list-group { display: none; }
button.hot-submenu ul.list-group a.list-group-item { font-size: 0.8rem; margin-left: 20px; border-color: #a0a0a0; }
button.hot-submenu.active ul.list-group { display: block; }

#hot-header .dadosusuariocontainer {
	position: absolute;
    right: 0px;
    bottom: -14px;
    display: block;
    height: 48px;
	font-size: 0px;
}

#hot-header .trapezoid {
	border-top: 50px solid #007e91;
	border-left: 40px solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 240px;
	display: inline-block;
	position: relative;
}

#hot-header .trapezoid .nomeusuario {
	position: absolute;
	top: -39px;
	right: 9px;
	width: 240px;
	z-index: 900;
	display: block;
	font-size: 0.7rem;
	text-align: right;
	overflow: hidden;
	color: #fafafa;
}

#hot-header .fotousuario {
    background-color: #007e91;
	display: inline-block;
	vertical-align: top;
	padding: 0px 5px 10px 0px;
}

#hot-header .fotousuario .img-fotoperfil {
	height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #ffffff;
}

#hot_relatorio { position: fixed; top: 5vh; left: 5vw; width: 90vw; height: 90vh; overflow-y: auto; z-index: 2000; display: none; }
#hot_relatorio .hot_relatorio_content { position: relative; display: flex; width: 100%; height: 100%; flex-direction: column; pointer-events: auto; background-color: #fafafa; background-clip: padding-box; border: solid 1px rgba(0,0,0,.2); border-radius: 0.3rem; outline: 0; }
#hot_relatorio .hot_relatorio_header { display: flex; flex-shrink: 0; align-items: center; justify-content: space-between; padding: 1rem 1rem; border-bottom: 1px solid #dee2e6; border-top-left-radius: calc(0.3rem - 1px); border-top-right-radius: calc(0.3rem - 1px); }
#hot_relatorio .hot_relatorio_title { margin-bottom: 0; line-height: 1.5; }
#hot_relatorio .hot_relatorio_header .btn-close { padding: 0.5rem 0.5rem; margin: -0.5rem -0.5rem -0.5rem auto; }
#hot_relatorio .hot_relatorio_body { width: 100%; position: relative; flex: 1 1 auto; padding: 1rem; }
#hot_relatorio .hot_relatorio_footer { width: 100%; display: flex; flex-wrap: wrap; flex-shrink: 0; align-items: center; justify-content: flex-end; padding: 0.75rem; border-top: 1px solid #dee2e6; border-bottom-left-radius: calc(0.3rem - 1px); border-bottom-right-radius: calc(0.3rem - 1px); }
#hot_relatorio .hot_relatorio_footer > * { margin: 0.25rem; }
#hot_relatorio iframe { width: 100%; height: 100%; }

.p-6 { padding: 1.5rem; }
.pb-40 { padding-bottom: 10rem; }
.bg-white { --tw-bg-opacity: 1; background-color: rgba(255, 255, 255, var(--tw-bg-opacity)); }
.border-gray-200 { --tw-border-opacity: 1; border-color: rgba(229, 231, 235, var(--tw-border-opacity)); }
.mb-6 { margin-bottom: 1.5rem; }
.text-gray-800 { color: #808080; }
.text-gray-900 { color: #909090; }
.text-gray-A00 { color: #A0A0A0; }
.text-gray-B00 { color: #B0B0B0; }
.text-gray-C00 { color: #C0C0C0; }
.text-gray-D00 { color: #D0D0D0; }
.text-gray-E00 { color: #E0E0E0; }

.background-gray-700 { background-color: #707070; color: #FAFAFA; }
.background-gray-E00 { background-color: #E0E0E0; }
.background-gray-F00 { background-color: #F0F0F0; }

.border-bottom-6px { border-end-start-radius: 6px; border-end-end-radius: 6px; }

.datepicker { z-index: 9000 !important; }

@media (min-width: 640px) {
	
	.sm\:rounded-lg {
		border-radius: 0.5rem;
	}
		
	header#hot-header, div#hot-content, footer#hot-footer { margin-left: 240px; padding-right: 240px; }
	
	aside#hot-sidebar { transform: translate3d(0,0,0); }
		
	header#hot-header .exibemenu { display: none; }
}

.hot-grafico { width: 100% }

.c-verde { color: yellowgreen; }
.c-laranja { color: orange; }
.c-vermelho { color: red; }

.f-w500 { font-weight: 500; }

#hot-approom { position: relative; }

.si-backgroundEscuro { background-color: #131a2d; }

#ed-processando-solicitacao { position: fixed; width: 100vw; height: 100vh; top: 0px; left: 0px; display: none; }
#ed-processando-solicitacao-background { width: 100vw; height: 100vh; background-color: #000000; opacity: 0.7; z-index: 1000; }
#ed-processando-solicitacao-spinner { position: absolute; width: 3rem; height: 3rem; top: 50%; left: 50%; margin-left: -1.5rem; margin-top: -1.5rem; }

#hot_sobreposto { display: none; position: fixed; width: 100vw; height: 100vh; top: 0px; left: 0px; z-index: 2000; }
#hot_sobreposto_carregando { background-color: #fafafa; }
#hot_sobreposto_conteudo { width: 100%; height: 100%; background-color: #e7e7e7; }
#hot_sobreposto_fechar { padding: 5px 20px; position: absolute; right: 20px; top: 20px; opacity: 0.2; background-color: red; color: #fafafa; border-radius: 3px; }
#hot_sobreposto_fechar:hover { opacity: 1; cursor: pointer; }

.form-label { margin: 0.2rem 0rem 0rem 0.2rem; font-size: 0.7rem; color: #808080; }